<div class="formContainer">
    <img src="assets/icons/clippy.png" width="64px" />
    
    <div class="formTitle">Login/Sign up</div>
    <form class="formLogin" [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm,$event)">
        <div>
            <input autocomplete="on" type="email" formControlName="email" placeholder="Enter Email ID"/>
        </div>
        <div>
            <input autocomplete="on" type="password" formControlName="password" placeholder="Enter Password"/>
        </div>
        <div>
            <button  type="submit" style="display: inline-flex;">
                <div class="loader" *ngIf="isFetching">Loading...</div>
                <div *ngIf="!isFetching" style="width: 100%;"> Submit </div>
                
            </button>
        </div>

    </form>
</div>