<div class="formContainer">
    <img src="https://static.wixstatic.com/media/50f81c_d47a7b60c042497d99bfc1ce0dd92166~mv2.png/v1/fill/w_107,h_63,al_c,q_85,usm_0.66_1.00_0.01/Cignifi%20Logo%20PNG_PNG.webp" />
    
    <div class="formTitle">Login/Sign up</div>
    <form class="formLogin" [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm,$event)">
        <div>
            <input autocomplete="on" type="email" formControlName="email" placeholder="Enter Email ID"/>
        </div>
        <div>
            <input autocomplete="on" type="password" formControlName="password" placeholder="Enter Password"/>
        </div>
        <div>
            <button  type="submit" style="display: inline-flex;">
                <div class="loader" *ngIf="isFetching">Loading...</div>
                <div *ngIf="!isFetching" style="width: 100%;"> Submit </div>
                
            </button>
        </div>

    </form>
</div>